.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    flex-direction: column;
    background-color: #ffdee9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(0deg,#ffdee9 0%,#b5fffc 100%);
    
}
.form-container form{
    box-shadow: rgba(0, 0, 0, .35) 0px 5px 15px;
    padding: 20px;
    background-color: white;
}

.form-container h1 {
    font-size: 24px;
    text-align: center;
    color: black;
    font-weight: bold;
    
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.form-control:focus {
    outline: none;
    border-color: rgb(0, 0, 0);
}

