
.container {
    max-width: 800px;
    margin: auto;
}

.row {
        margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-md-6 {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin: 10px;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}